<html>
<scripts></scripts>
<body>
<header>
Menu, Data, COSTAM
</header>
<Main>
Wiadomosci, info etc<br> 
<form method="post">
    <label for="imie">Podaj imię:</label>
    <input id='imie' name="imie"> <br>
    <label for="nazwisko">Podaj nazwisko:</label>
    <input id='nazwisko' name="nazwisko"> <br>
    <label for="adres">Podaj adres email:</label>
    <input type="email" name="adres_email"><br>
    <label for="date">Wybierz datę:</label>
    <input type="date" name="pole_daty"><br>
    <label for="tel">Podaj numer telefonu:</label>
    <input type="tel" name="telefon"><br>
    <label for="time">Wybierz czas:</label>
    <input type="time" name="pole_czasu"><br>
    <label for="color">Wybierz kolor:</label>
    <input type="color" name='color'><br>
    <label for="submit">Wyślij:</label>
    <input type="submit"><br>
    
</form>


</Main>

<footer>
Stworzone przez 123, email: 123@123.123
</footer>
</body>
</html>


